.popup__close-button {
  position: absolute;
  top: -27px;
  right: -27px;
  background-image: url(../../../images/close-button.svg);
  width: 28px;
  height: 28px;
  background-color: transparent;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
  transition: opacity ease 1s;
  transform: rotate(45deg);
  padding: 0;
  box-sizing: border-box;
  
  
}

.popup__close-button:hover {
  opacity: 0.6;
}

@media (max-width: 800px) {
  .popup__close-button {
  top: -30px;
  right: 0;
  width: 18px;
  height: 18px;
  }
}