.popup__close-button {
  position: absolute;
  top: -40px;
  right: -40px;
  background-image: url(../../../images/close-button.svg);
  width: 40px;                        
  height: 40px;
  background-color: transparent;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  transition: opacity ease 1s;
  transform: rotate(45deg);
  padding: 0;
  box-sizing: border-box;
    
}

.popup__close-button:hover {
  opacity: 0.6;
}

@media (max-width: 500px) {
  .popup__close-button {
  top: -40px;
  right: 0;
  width: 26px;
  height: 26px;
  }
}

/* Как я понял, важно указать правильный размер SVG изображения, то есть самого креста, а не отображение блока в девтулзах, потому что по x и y координатам, из-за поворота,  размер блока увеличивается. */