.elements__heart-logo {
  margin: 25px 20px 30px auto;
  background-image: url(../../../images/heart-logo.svg);
  width: 22px;
  height: 19px;
  background-color: transparent;
  border: none;
  transition: opacity ease 1s;
}

.elements__heart-logo:hover {
  opacity: 0.5;
  cursor: pointer;
}

.elements__heart-logo:active {
  background-image: url(../../../images/black-heart-logo.svg);
}